.navbar {
  @apply z-50 px-11;
}

.listItem {
  @apply text-center my-8 sm:my-4 mx-auto sm:w-1/4 sm:inline-block;
}

.listItem .listItemLink {
  @apply font-sans text-gray-900 font-extralight text-xl tracking-wide w-auto;
}

.listItem .listItemLink::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
  margin: 0 auto;
}

.listItem .listItemLink:hover::after {
  width: 50%;
  margin: 0 auto;
}

.listItemLink:hover, .listItemActive .listItemLink {
  @apply font-normal;
}

.listItemActive .listItemLink:after {
  width: 50%;
  margin: 0 auto;
}

